<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-4">
    <div class="field input-group max-w-md">
      <%= form.label :caption, class: "label"%>
      <%= form.text_field :caption, class: "input"%>
    </div>

    <div data-controller="multi-upload">
      <div class="images field input-group">
        <%= form.label :images, class: "label"%>
        <div id="preview" class="grid grid-cols-3 gap-2 lg:grid-cols-6 lg:gap-2">
          <% form.object.images.each do |image| %>
            <div class="w-max relative">
              <%= image_tag @post.tiny_preview(image), class: "rounded-2xl" %>
              <%= link_to "❌", delete_image_post_url(image.id), 
                class: "btn btn-sm btn-transparent absolute top-1 right-0",
                method: :delete,
                remote: true,
                :data => {
                  confirm: "Are you sure?",
                  action: "ajax:success->multi-upload#removeFile"
                }
              %>
            </div>
          <% end %>
        </div>
        <p>Max file size: 5mb</p>
        <%= form.file_field :images, class: "w-min input mt-4",
          multiple: true,
          direct_upload: true,
          accept: "image/png,image/jpeg",
          :data => { :action => "multi-upload#addFile" }
        %>
      </div>
      <div data-multi-upload-target="files"></div>
    </div>

    <div id="preview-template" class="w-max relative hidden" style="">
      <img src="" class="rounded-2xl" />
      <%= button_tag "❌", type: "button",
        class: "btn btn-sm btn-transparent absolute top-1 right-0 ",
        remote: true,
        :data => { action: "multi-upload#removeFile" }
      %>
    </div>

    <div class="actions mt-4">
      <%= form.submit class: "btn btn-green" %>
      <%= link_to 'Cancel', posts_path, class: "ml-4 btn btn-red" %>
    </div>
  </div>
<% end %>
