<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="max-w-xl m-auto text-4xl">
    <div class="field input-group">
      <%= form.label :caption, class: "label"%>
      <%= form.text_field :caption, class: "input"%>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-green" %>
      <%= link_to 'Cancel', posts_path, class: "ml-4 btn btn-red" %>
    </div>
  </div>
<% end %>
