<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-4">
    <div class="field input-group max-w-md">
      <%= form.label :caption, class: "label"%>
      <%= form.text_field :caption, class: "input"%>
    </div>

    <div data-controller="multi-upload">
      <div class="images field input-group">
        <%= form.label :images, class: "label"%>
        <div id="preview" class="grid grid-cols-6 gaps-2">
          <%= form.object.images.each do |image| %>
            <%= image_tag image.variant(resize_to_fill: ([200, 200])) %>
          <% end %>
        </div>
        <%= form.file_field :images, multiple: true, :data => { :action => "multi-upload#addFile" } %>
      </div>
      <div data-multi-upload-target="files"></div>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-green" %>
      <%= link_to 'Cancel', posts_path, class: "ml-4 btn btn-red" %>
    </div>
  </div>
<% end %>
