<p id="notice"><%= notice %></p>

<div class="post-detail">
  <% @post.images.each do |image| %>
    <%= image_tag image %>
  <% end %>

  <p>
    <strong>@<%= @post.user_id %></strong>
    <br/>
    <%= @post.caption %>
  </p>

  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-blue" %>
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "ml-4 btn btn-red" %>
</div>
