<p id="notice"><%= notice %></p>

<div class="post-detail mb-8">
  <% if current_user.present? && @post.user_id == current_user.id %>
    <div class="float-right">
      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-blue mr-4" %>
      <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-red" %>
    </div>
  <% end %>

  <h1 class="text-xl font-bold"><%= @post.caption %></h1>
  <p class="mb-4">
    @<%= @post_author.name %>
    <br/>
  </p>

  <div class="grid grid-cols-2">
    <% @post.images.each do |image| %>
      <%= link_to url_for(image), class: "w-max" do %>
        <%= image_tag @post.thumbnail(image), class: "rounded-lg shadow-xl mb-16" %>
      <% end %>
    <% end %>
  </div>
</div>
